<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back To Dashboard</a>
  </div>
  <div class="col-md-6">

  </div>
</div>
<div class="card">
  <h3 class="card-header">
    Edit Settings
  </h3>
  <div class="card-block">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registration</label>
        <input
          type="checkbox"
          [checked]="settings.allowRegistration"
          (change)="settings.allowRegistration = !settings.allowRegistration"
          name="allowRegistration">
      </div>
      <div class="form-group">
        <label>Desable Balance On Add</label>
        <input
          type="checkbox"
          [checked]="settings.disableBalanceOnAdd"
          (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd"
          name="disableBalanceOnAdd">
      </div>
      <div class="form-group">
        <label>Desable Balance On Edit</label>
        <input
          type="checkbox"
          [checked]="settings.disableBalanceOnEdit"
          (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit"
          name="disableBalanceOnEdit">
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </form>
  </div>
</div>
